<div class="center-container">
<h1>Long Live Film</h1>

<h4 id="about-paragraph">This is an application I have created for the local film community to submit questions as well as submit answers. Our goal is to connect people that have the interest in film but not always the community with which to discuss film or topics related. By joining our community, you will have access to a safe and entertaining place to discuss film with people in your community. Topics on our forum range from movie theater ratings, to film analysis, to facilitating MeetUps where users can meet in person. In the past, our users have joined for monthly movie club and even attended film festivals together.

We are pleased to have you on our forums and can't wait to get some good film discussion going!</h4>
</div>
