<div class="page-header">
  <h1>Long Live Film<br>
    <small>A Q/A forum for film buffs </small>
  </h1>
  <ol class="crumb">
    <li>{{#link-to 'index'}}Home{{/link-to}} | </li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
  </ol>
</div>


<div class="container">
{{outlet}}
</div>

<div class="page-footer">
  <p>Copyright (c) 2016 | Yvonna Contreras | Epicodus | Portland, OR</p>
</div>
