<div class="center-container">
<h2>Recent Questions:</h2>



  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}



{{new-question saveQuestion='saveQuestion'}}
</div>
